<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">



  <title>Instafluff</title>  

<link href="./main.82cfd66e.css" rel="stylesheet"></head>
  <script data-ad-client="ca-pub-4547530043538957" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<body>

<!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="./index.html" title="">
            <img class="site-logo" height="32px" alt="" src="./assets/twitch-logo.png"> Instafluff
          </a>
        <p>Creator of <a href="https://www.streampuppy.com">StreamPuppy</a>!<br/>Get Comfy at the Coding Cafe on <a href="https://www.twitch.tv/instafluff">Twitch</a> Wed/Thu/Fri 9am PST</p>
      </div>
      <ul class="nav">
        <li><a href="posts.html">Openly Fluffy Updates</a></li>
        <li style="left: 30px; bottom:-5px">
          <img src="./assets/FluffleLurk.png" width="100px"/></li>
        <li style="left:-30px"><a href="http://discord.instafluff.tv"><img src="./assets/Discord.png" width="200px"></a></li>
        <li style="left:-30px"><a href="http://www.twitter.com/instafluffTV"><img src="./assets/Twitter.png" width="200px"></a></li>
      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.twitch.tv/instafluff" title="">
            <i class="fa fa-twitch"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/instafluffTV" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon" href="https://www.instagram.com/instafluffTV" title="">
            <i class="fa fa-instagram"></i>
          </a>
        </p>
        <p>© Instafluff | <a href="https://twitch.tv/instafluff">instafluff.tv</a></p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse">

<!-- Add your site or app content here -->
<div class="row">
  <div class="col-xs-12 section-container-spacer">
    <h1>Welcome to the Comfy Corner!</h1>
    <p>Hello! I'm Instafluff and it is wonderful to see you. I build Twitch-integrated fun with viewers live on Twitch every week.<br/>Here are some of my links:</p>
  </div>

  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="./assets/images/CodingCafe.png">
    <h2>Coding Cafe</h2>
    <p>Come and relax in the Comfiest Corner of Twitch every Wed/Thu/Fri at 9am PST</p>
    <a href="https://www.twitch.tv/instafluff" class="btn btn-primary" title=""> Go to Stream</a>
  </div>

  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="./assets/images/ChatTranslator.png">
    <h2>ChatTranslator</h2>
    <p>Twitch Extension to break down language barriers among viewers!</p>
    <a href="http://chattranslator.instafluff.tv" class="btn btn-primary" title=""> Open Page</a>
  </div>

  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="./assets/images/ClippyRaid.png">
    <h2>ClippyRaid</h2>
    <p>Twitch Extension to remove the hassle of highlighting chat text!</p>
    <a href="http://clippyraid.instafluff.tv" class="btn btn-primary" title=""> Open Page</a>
  </div>

</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>

</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-135113520-1', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript" src="./main.85741bff.js"></script></body>

</html>
